<?xml version="1.0" encoding="utf-8"?>
<manifest
   xmlns:android="http://schemas.android.com/apk/res/android"
   package="arity.calculator">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
      android:label="Arity"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:requestLegacyExternalStorage="true">

    <activity android:name="Calculator"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|keyboard|keyboardHidden"
        android:exported="true"
        android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="ShowGraph"
        android:theme="@style/AppTheme"
        android:parentActivityName=".Calculator"/>
    <activity
        android:name="ListDefs"
        android:theme="@style/AppTheme"
        android:label="User definitions"
        android:parentActivityName=".Calculator"/>
    <activity
        android:name="Help"
        android:theme="@style/AppTheme"
        android:label="Arity Calculator"
        android:parentActivityName=".Calculator"/>
    <activity
        android:name="Settings"
        android:theme="@style/AppTheme"
        android:label="Calculator settings"
        android:parentActivityName=".Calculator"/>
  </application>
</manifest> 
